<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="user_name">UserName</label>
    <input
      type="text"
      class="form-control"
      id="user_name"
      formControlName="name"
    />
  </div>
  <!-- <div *ngIf="name.errors?.pattern">
    User name not valid.
</div> -->
  <div class="form-group">
    <label for="specialization">specialization</label>
    <input
      type="text"
      class="form-control"
      id="specialization"
      formControlName="specialization"
    />
  </div>
  <div class="form-group" formGroupName="address">
    <h4>Address</h4>

    <label for="street">Street: </label>
    <input
      id="street"
      type="text"
      formControlName="street"
      class="form-control"
      formControlName="street"
    />

    <label for="city">City: </label>
    <input
      id="city"
      type="text"
      formControlName="city"
      class="form-control"
      formControlName="city"
    />

    <label for="state">State: </label>
    <input
      id="state"
      type="text"
      formControlName="state"
      class="form-control"
      formControlName="state"
    />

    <label for="zip">Zip Code: </label>
    <input
      id="zip"
      type="text"
      formControlName="zip"
      class="form-control"
      formControlName="zip"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">
    Submit
  </button>
</form>
